/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Bsp. für Button-Text-Füllfarbe weiß */

#tab{
-fx-background-color:#128277;
}


.tab-header-background{
-fx-background-color:#128277;
-fx-font-size: 10pt;
-fx-font-weight: normal;
}

tab.PaneTab{
	-fx-font-size: 10pt;
	-fx-font-weight: normal;
}

.default-color0.chart-pie {
	-fx-pie-color: #2cbfa9;
}

.default-color1.chart-pie {
	-fx-pie-color: #c9d0db;
}